---
import MainLayout from '@/layouts/MainLayout.astro'
import Colophon from './_components/Colophon.astro'
import Inspirations from './_components/Inspirations.astro'

---

<MainLayout
  title="Credits"
  description="Site Credits"
>
  <section class="prose dark:prose-invert container max-w-[948px] py-3 px-4 md:px-16">
    <h1 class="pt-4 md:pt-8 scroll-m-20 text-3xl font-bold">
      Site Credits.
    </h1>
    <article class="overflow-auto relative flex flex-col">
      <Colophon />
      <Inspirations />
    </article>
  </section>
</MainLayout>
