---
import type { PaginateFunction } from 'astro'
import type { CollectionEntry } from 'astro:content'
import Pagination from '@/components/common/Pagination.astro'
import { siteConfig } from '@/config/site'
import { getShorts } from '@/lib/fetchers'
import ShortList from './_components/ShortList.astro'
import ShortLayout from './_layout/ShortLayout.astro'

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction
}) {
  const allShorts = await getShorts()
  return paginate(
    allShorts,
    {
      pageSize: siteConfig.pagination.pageSize,
    },
  )
}

const { page } = Astro.props
const shorts: {
  [prop: string]: CollectionEntry<'short'>[]
} = {}

page.data.forEach((short) => {
  const year = short.data.pubDate.getFullYear()
  if (!shorts[year]) {
    shorts[year] = []
  }
  shorts[year].push(short)
})
const years = Object.keys(shorts).sort((a, b) => {
  return Number(b) - Number(a)
})
---
<ShortLayout
  title="Shorts"
  description="Shorts record."
>
  <div slot="right-content">
    <div class="pt-8">
      <ShortList years={years} shorts={shorts} />
    </div>
    {
      page.total && page.total > siteConfig.pagination.pageSize
      ? (
        <div class="mt-6">
          <Pagination
            currentPage={page.currentPage}
            totalPages={page.lastPage}
            prevUrl={page.url.prev || ''}
            nextUrl={page.url.next || ''}
          />
        </div>
      )
      : null
    }
  </div>
</ShortLayout>
