---
import { credits } from '../_data'
import CreditList from './CreditList.astro'
---
<h2 class="scroll-m-20 mt-0 mb-2 text-2xl font-semibold">
  Inspirations
</h2>
<ul class="ml-1 list-disc">
  <CreditList credits={credits.Inspiration} />
</ul>

