---
import MainLayout from '@/layouts/MainLayout.astro'
import Intro from './_components/Intro.astro'
import RecentPosts from './_components/RecentPosts.astro'
import RecentShort from './_components/RecentShort.astro'

---
<MainLayout
  title="About"
  description="Anthony's homepage"
>
  <div
    class="container max-w-[948px] relative flex w-full flex-col pb-3 px-4 md:px-8 lg:px-12 xl:px-16"
  >
    <div class="mx-auto w-full lg:mb-0 space-y-8 pt-8">
      <Intro />
      <RecentPosts />
      <RecentShort />
    </div>
  </div>
</MainLayout>

