---
import MainLayout from '@/layouts/MainLayout.astro'


type Props = {
  title: string
  description?: string
  mainClass?: string
}

const { title, description, mainClass } = Astro.props
---
<MainLayout
  title={title}
  description={description}
  mainClass={mainClass}
>
  <section class="container max-w-[948px] py-3 px-4 md:px-16">
    <slot name="head-name">
      <h1 class="pt-4 md:pt-8 scroll-m-20 text-3xl font-bold">
        {description}
      </h1>
    </slot>
    <section class="overflow-auto relative flex flex-col">
      <slot name="right-content" />
    </section>
  </section>
</MainLayout>
